[data-icon-label] {
    position: relative;
    display: inline-block;
}
[data-icon-label]:after {
    content: attr(data-icon-label);
    position: absolute;
    font-style: normal;
    font-family: Arial, Sans-serif !important;
    top: -8px;
    right: -8px;
    font-weight: bolder;
    background-color: rgb(255, 0, 0);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    font-size: 11px;
    padding: 2px;
    opacity: .9;
    line-height: 13px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    z-index: 1;
    transition: transform .2s;
}
[data-icon-label="0"]:after{
    display: none;
}